# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
.venv/
venv/
env/

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.*

# IDE / editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Distribución / build
dist/
build/
*.egg-info/
